@font-face {
    font-family: "SWCrawlBody";
    src: url(../assets/SWCrawlBody.ttf) format("truetype");
}

body {
  background: black;
  font-family: "SWCrawlBody", arial;
  color: rgb(229, 177, 58);
}

.text {
  width: 700px;
  height: 700px;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  transform: rotateX(45deg);
}

.crawl {
  text-align: center;
  margin: 20px auto;
  width: 700px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

p {
  font-size: 80px;
  line-height: 24px;
}

#bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

